# Ignore Visual Studio folders
.vs/
x64/
Debug/
Release/

# Ignore Visual Studio Files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Ignore compiled binaries and caches
*.exe
*.obj
*.pdb
*.user
*.log
*.suo
*.cache
*.db
